* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #e8e9e9;
}
#search {
    height: 50px;
    margin: 40px auto;
    display: flex;
    padding-left: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 30%;
   
    

}
.grid {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
    margin: 0 auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 10px;
    
}
